<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1360.vc6700e3136f5">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2150.v4cfd8916915c"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2150.v4cfd8916915c">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>ACTION</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ACTION</name>
          <description>Action to take</description>
          <defaultValue>proceed</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3806.va_3a_6988277b_2">
    <script>pipeline {
    agent any
    
    parameters {
        string(name: &apos;ACTION&apos;, defaultValue: &apos;proceed&apos;, description: &apos;Action to take&apos;)
    }
    tools {
        terraform &apos;tf1.6&apos;
    }

    environment {
        // Define a variable to hold the output from the previous stage
        PREVIOUS_STAGE_OUTPUT = &apos;&apos;
    }

    stages {
        stage(&apos;Clone Git repo&apos;) {
            steps {
                git(
                    branch: &apos;master&apos;, 
                    url: &apos;https://github.com/Suntorio/DevOps_Group_3.git&apos;, 
                    credentialsId: &apos;access_to_git&apos;
                )
            }
        }
        stage(&apos;Terraform Plan&apos;) {
            steps {
                dir(&apos;DevOps_jenkins_tf_ans_node_js_Setup/terraform_ansible_generic_instace_setup_template&apos;) {
                    sh &apos;&apos;&apos;
                    echo &quot;yes&quot; | terraform init
                    terraform plan -destroy -out=destroyplan.tfplan
                    &apos;&apos;&apos;
                    script {
                        env.PREVIOUS_STAGE_OUTPUT = sh(script: &apos;echo &quot;Output from previous stage&quot;&apos;, returnStdout: true).trim()
                    }
                }
            }
        }
        stage(&apos;Approval&apos;) {
            steps {
                // Echo the output from the previous stage
                echo &quot;Output from the Previous Stage: ${env.PREVIOUS_STAGE_OUTPUT}&quot;
                // Ask for the input to proceed or abort the build
                script {
                    def userInput = input(
                        id: &apos;userInput&apos;, 
                        message: &apos;Choose to proceed or abort the build:&apos;, 
                        parameters: [choice(name: &apos;Proceed?&apos;, choices: [&apos;proceed&apos;, &apos;abort&apos;], description: &apos;Proceed or Abort&apos;)]
                    )
                    if (userInput == &apos;abort&apos;) {
                        error(&apos;Aborting the build.&apos;)
                    }
                }
            }
        }
        stage(&apos;Terraform Apply Destroy&apos;) {
            steps {
                dir(&apos;DevOps_jenkins_tf_ans_node_js_Setup/terraform_ansible_generic_instace_setup_template&apos;){
                sh &apos;&apos;&apos;
                terraform apply destroyplan.tfplan
                &apos;&apos;&apos;
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>